* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f6fc;
    padding: 0 15px 0 10px;
}

.navbar__brand {
    width: 120px;
}

.navbar__image {
    width: 100%;
}

.button__primary {
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    padding: 12px;
    color: #fff;
    border: none;
    border-radius: 6px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.hero__image__container {
    width: 100%;
}

.hero__image {
    width: 100%;
}

.hero__container {
    width: 100%;
}

.hero__image__patter1 {
    position: absolute;
    top: -30px;
    left: 0px;
    z-index: -3;
    display: none;
}

.hero__image__patter2 {
    position: absolute;
    top: -30px;
    left: 0px;
    z-index: -2;
    display: none;
}

.hero__text {
    color: #1d3557;
}


/*Menu*/

.food__menu__card {
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
}

.food__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.food__menu__card__description {
    padding: 20px;
}

.explore__menu__text {
    text-align: center;
    color: #1d3557;
}

.explore__menu__container {
    margin-top: 40px;
}

.explore__menu__lists {
    margin-top: 20px;
}

.explore__menu__view__more {
    display: flex;
    justify-content: center;
}


/*<!-- Restaurants -->*/

.restaurants__container {
    color: #1d3557;
}

.restaurants__container {
    margin-top: 60px;
}

.restaurants__flex {
    width: 100%;
    margin-top: 20px;
}

.restaurant__1__image,
.restaurant__2__image,
.restaurant__3__image,
.restaurant__4__image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.restaurants__flex__row__one {
    align-items: baseline;
    margin-bottom: 7px;
}

.restaurants__flex__row__one,
.restaurants__flex__row__two {
    width: 100%;
    display: flex;
    gap: 8px;
}

.restaurant__1,
.restaurant__4 {
    width: 100%;
    height: 90px;
}

.restaurant__2,
.restaurant__3 {
    width: 120%;
    height: 110px;
}


/*update*/

.update__container {
    padding: 0 10px;
    margin-top: 60px;
    width: 100%;
}

.update__description {
    color: #1d3557;
}

.update__elements {
    display: flex;
    width: 100%;
    align-items: center;
}

.update__element__input {
    padding: 10px;
}

.input__email {
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    font-weight: 700;
    padding: 8px;
    border-radius: 9px;
    background-color: #fcedf0;
    width: 100%;
}


/*quotes*/

.quote__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-content: center;
    border-radius: 13px;
    align-items: center;
    margin-top: 60px;
    background: url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80) center center / cover no-repeat;
}

.quote_image_overlay {
    position: absolute;
    background-color: #1d3557;
    width: 100%;
    height: 200px;
    opacity: 49%;
    border-radius: 13px;
}

.quote_image_text {
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 0 12px;
}

@media (min-width: 768px) {
    .navbar {
        padding: 0px 20px;
        height: 70px;
    }
    .navbar__brand {
        width: 130px;
    }
    .button__primary {
        padding: 12px 20px;
        font-size: 15px;
    }
    .hero__container {
        margin-top: 50px;
    }
    .hero__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .hero__image__container {
        position: relative;
    }
    .hero__image__patter1 {
        display: block;
    }
    .hero__image__patter2 {
        display: block;
    }
    /*Menu*/
    .explore__menu__container {
        margin-top: 120px;
        position: relative;
    }
    .explore__menu__lists {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        padding: 0 30px;
    }
    .explore__menu__text {
        font-size: 30px;
    }
    #pizza__card {
        margin-top: -20px;
        margin-bottom: 40px;
    }
    .explore__menu__lists {
        margin-top: 40px;
    }
    .explore__menu__gradient__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
        z-index: -3;
        transform: skewY(-5deg);
    }
    .explore__menu__view__more {
        margin-top: 40px;
    }
    /*restaurant*/
    .restaurant__1,
    .restaurant__4 {
        width: 100%;
        height: 90px;
    }
    .restaurant__2,
    .restaurant__3 {
        width: 120%;
        height: 110px;
    }
    /* /*<!-- Restaurants -->*/
    .restaurants__container {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 60px;
    }
    .restaurants__description {
        font-size: 30px;
        width: 120%;
        color: #1d3557;
    }
    .restaurants__flex {
        width: 100%;
    }
    /*update*/
    .update__container {
        display: flex;
        margin-top: 100px;
        /*justify-content: center;*/
    }
    .update__description {
        font-size: 30px;
        width: 100%;
    }
    .input__email {
        width: 100%;
    }
    .update__element__input {
        width: 200%;
    }
    .update__element__email {
        width: 100%;
    }
    /*quotes*/
    .quote__container {
        height: 300px;
        margin-top: 100px;
    }
    .quote_image_overlay {
        height: 300px;
    }
    .quote_image_text {
        font-size: 30px;
        padding: 0 40px;
        font-weight: 500;
    }
}

@media (min-width: 1020px) {
    .container {
        margin: 0 auto;
    }
    .navbar {
        padding: 5px 20px;
        height: 90px;
    }
    .container {
        max-width: 1000px;
    }
    .hero__text {
        font-size: 45px;
    }
    /*menu*/
    .explore__menu__container {
        margin-top: 160px;
    }
    .explore__menu__text {
        font-size: 45px;
    }
    /* /*<!-- Restaurants -->*/
    .restaurant__1,
    .restaurant__4 {
        width: 100%;
        height: 150px;
    }
    .restaurant__2,
    .restaurant__3 {
        width: 120%;
        height: 200px;
    }
    .restaurants__container {
        gap: 0px;
        margin-top: 100px;
    }
    .restaurants__description {
        font-size: 45px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1150px;
    }
    .hero__text {
        font-size: 50px;
    }
    .restaurants__description {
        font-size: 50px;
    }
    .restaurant__1,
    .restaurant__4 {
        width: 100%;
        height: 190px;
    }
    .restaurant__2,
    .restaurant__3 {
        width: 120%;
        height: 240px;
    }
    .restaurants__flex {
        width: 120%;
    }
}